<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Certificate</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container mt-3">
    <h1>IT CERTIFICATE MANAGEMENT</h1>

    <!-- form add -->
    <form th:action="@{/cert/save}" method="post" th:object="${certDto}">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="certId">
                    <stong>Cert Id *</stong>
                </label>
                <input type="text" class="form-control" id="certId" placeholder="Id" th:field="*{id}">
                <span class="error" th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></span>
            </div>
            <div class="form-group col-md-6">
                <label for="cost">
                    <stong>Cost *</stong>
                </label>
                <input type="text" class="form-control" id="cost" placeholder="Cost" th:field="*{cost}">
                <span class="error" th:if="${#fields.hasErrors('cost')}" th:errors="*{cost}"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="certName">
                    <stong>Certificate Name *</stong>
                </label>
                <input type="text" class="form-control" id="certName" placeholder="Certificate Name" th:field="*{certName}">
                <span class="error" th:if="${#fields.hasErrors('certName')}" th:errors="*{certName}"></span>
            </div>
            <div class="form-group col-md-6">
                <label for="category">
                    <stong>Category *</stong>
                </label>
                <select class="custom-select" id="category" th:field="*{category.id}">
                    <option selected th:value="0">Choose...</option>
                    <option th:each="category : ${categoryList}" th:value="${category.id}" th:text="${category.name}"></option>
                </select>

            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12 text-right">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="reset" class="btn btn-primary">Reset</button>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                    Classify
                </button>
            </div>
        </div>
    </form>

    <!--table-->
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Certification name</th>
                <th scope="col">Cost($)</th>
                <th scope="col">Category</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="cert : ${certList}">
                <th scope="row">
                    <a th:href="@{/cert/management(id=${cert.id})}"  th:text="${cert.id}"></a>
                </th>
                <td th:text="${cert.certName}"></td>
                <td th:text="${cert.cost}"></td>
                <td th:text="${cert.category.name}"></td>
                <td>
                    <a th:attr="certid=${cert.id}" onclick="return confirmDelete(event)">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation" id="pagination" class="mt-3">
        <ul class="pagination">
            <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/cert/management(page=${currentPage - 1})}"> < </a>
            </li>
            <li class="page-item" th:each="i : ${#numbers.sequence(1, totalPages)}"
                th:classappend="${currentPage == i} ? 'active'">
                <a class="page-link"
                   th:href="@{/cert/management(page=${i})}"
                   th:text="${i}"></a>
            </li>
            <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/cert/management(page=${currentPage + 1})}"> > </a>
            </li>
        </ul>
    </nav>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Certificate Management</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Category</th>
                            <th scope="col">Total</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr th:each="instance, num : ${map}">
                                <td th:text="${num.index + 1}"></td>
                                <td th:text="${instance.key.toString()}"></td>
                                <td th:text="${instance.value.toString()}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>

<script th:inline="javascript">

    function confirmDelete(event) {
        let confirmation = confirm("Do you want to delete the record?");
        if (confirmation) {
            let certId = event.target.getAttribute('certid');
            let deleteUrl = '/cert/delete?id=' + certId;
            window.location.href = deleteUrl;
        }
        return false;
    }

</script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
</body>
</html>